{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "syntax": "typescript"
    },
    "target": "esnext",
    "baseUrl": "./",
    "paths": {
      "@src/*": ["./src/*"]
    },
    "transform": {
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs"
  }
}
